<template name="layout">
    <div class="container-fluid">
        <header class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">慕课索引</a>
            </div>
            <div class="navbar-header">
                {{> search}}
            </div>
        </header>
        <div id="left" class="col-md-9">
            {{> yield}}
        </div>
        <div id="right" class="col-md-3 sidebar-nav well">
            {{> vendors}}
        </div>
    </div>
</template>